{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>Pet Shelter</title>
    </head>

    {% include "navbar.html" %}
    <body style="background-color: #F3F3F3;">
        <div class="row justify-content-center">
            <div class="col text-center">
                <h2>Katalog</h2>
            </div>
        </div>
        
        <div class="row m-5 justify-content-center">
            <div class="col-md-8 col-sm-8 text-center">
                <h5>There should be an animal catalog here</h5>
            </div>        
        </div>
    </body>
</html>